[phases.setup]
nixPkgs = ["nodejs-18_x", "python312"]

[phases.install]
dependsOn = ["setup"]
cmds = [
  "cd frontend && npm install",
  "cd frontend && npm run build",
  "python3 -m pip install --upgrade pip",
  "python3 -m pip install -r requirements.txt"
]

[start]
cmd = "python3 start.py"
