[providers]
node = "18"
python = "3.12"

[phases.setup]
nixPkgs = ["nodejs-18_x", "python312"]

[phases.install]
dependsOn = ["setup"]
cmds = [
  "chmod +x build.sh || true",
  "bash build.sh"
]

[phases.build]
cmds = []

[start]
cmd = "python3 start.py"
