[phases.setup]
nixPkgs = ["nodejs-18_x", "python312"]

[phases.install]
cmds = [
  "cd frontend && npm install",
  "cd frontend && npm run build",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "python start.py"
